<%- include header %>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<form method="post">
					<!-- 定义三个输入框和提交按钮 -->
					<div class="form-group">
						<input type="text" class="form-control" name="title" placeholder="请输入标题...">
					</div>

					<div class="form-group">
						<input type="text" class="form-control" name="tag" placeholder="标签">
					</div>

					<div class="form-group">
						<textarea class="form-control" name="content" placeholder="请输入笔记内容..."></textarea>
					</div>

					<button type="submit" class="btn btn-success center-block">发布</button>
				</form>
			</div>
		</div>
	</div>
	</body>
</html>