<%- include header %>

	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<form method="post">

					<!-- 用户名输入框 -->
					<div class="form-group">
						<input type="text" name="username" placeholder="用户名" class="form-control">
					</div>

					<!-- 密码输入框 -->
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="密码">
					</div>

					<!-- 确认密码输入框 -->
					<div class="form-group">
						<input type="password" class="form-control" name="passwordRepeat" placeholder="确认密码">
					</div>

					<!-- 注册信息提交按钮 -->
					<button type="submit" class="btn btn-success center-block">LogUp</button>
				</form>
			</div>
		</div>

	</div>
	</body>
</html>